* {
  text-decoration: none !important;
}

.headerStyles {
  height: 86px;
  /* background-color: var(--color-high-green); */
  background-image: linear-gradient(#1e1e1e, #2e2e2e);
}

.headerTitle {
  font-size: 22px !important;
  padding: 1rem 2.5rem 1rem 1rem !important;
  cursor: pointer;
}

.texts {
  color: white !important;
  font-size: 17px;
}

.headerLinks {
  height: 86px !important;
  padding: 0rem 1rem !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white !important;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.3rem;
}
.headerLinks:hover {
  background-color: #333333;
}
@media (max-width: 995px) {
  .headerStyles {
    height: auto;
  }
  .headerLinks {
    height: 60px !important;
    padding: 0.5rem !important;
  }
}
