.myImage {
  margin: 0 auto;
  max-width: 100%;
  height: auto !important;
  max-height: 600px;
  background-color: var(--color-freela-hover);
  height: 50%;
  width: auto !important;
}
.myCarrousel {
  background-color: var(--color-freela-hover);
  padding: 2rem !important;
  border-radius: 0.5rem;
}
@media (min-width: 1350px) {
  .myImage {
    max-width: 50% !important;
    margin: 0 auto;
  }
}
